# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Julia
2. R
3. Python
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

The above are libraries used in Python.

|Data Science Tools|
|-------------|
|Apache Spark|
|GitHub|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Chandan